<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Item</h1>
</div>

<!-- Student form -->
<form [formGroup]="studentForm" (ngSubmit)="submitStudentData()" novalidate>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Plant Name</label>
          <input type="text" formControlName="p_name" class="form-control" required>
          <p *ngIf="p_name.touched && p_name.invalid" class="error"><sup>*</sup>Please enter atleast first name</p>
          <p *ngIf="p_name.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</p>
        </div>
        <div class="col-md-12 mb-3">
          <label>Plant Size</label>
          <input type="text" formControlName="p_size" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Notes</label>
          <input type="text" formControlName="notes" class="form-control" required>
          <p *ngIf="notes.touched && notes.invalid" class="error"><sup>*</sup>Please provide email</p>
          <p *ngIf="notes.errors?.pattern" class="error"><sup>*</sup>Please enter correct email</p>
        </div>
        <div class="col-md-12 mb-3">
          <label>Quantity</label>
          <input type="text" formControlName="quantity" class="form-control" required>
          <p *ngIf="quantity.touched && quantity.invalid" class="error"><sup>*</sup>Please provide contact
            number</p>
          <p *ngIf="quantity.errors?.pattern" class="error"><sup>*</sup>Use numbers only
            number</p>
        </div>
      </div>
      <div class="form-group text-right">
        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Reset</button>
        <button type="submit" class="btn btn-success" [disabled]="!studentForm.valid">Add Item</button>
      </div>
    </div>
  </div>
</form><!-- Student form ends-->
